svg.filters {
	height: 0;
	width: 0;
	position: absolute;
	z-index: -1;
}

.header-text {
	color: #c0c8bd;
	font-size: 5em;
	text-align: center;
	line-height: 1.0625;
	font-weight: 600;
	letter-spacing: -0.009em;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

.glow-filter {
	position: relative;
	display: inline-block;
	scale: 1;

	animation: onloadscale 1s ease-out forwards;
}

.glow-filter::before {
	content: attr(data-text);
	position: absolute;
	pointer-events: none;
	color: #f6fff6;
	background: linear-gradient(0deg, #dfeee1 0%, #e5f8d5 50%);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	filter: url(#glow-4);
	-moz-filter: url(#glow-4);
	-webkit-filter: url(#glow-4);

	opacity: 0;
	animation: onloadopacity 1s ease-out forwards;
}

@keyframes onloadscale {
	24% {
		scale: 1;
	}

	100% {
		scale: 1.02;
	}
}

@keyframes onloadopacity {
	24% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}


.lead {
	padding: 0 20px;
	text-align: center;
}

.gray {
	width: 100%;
	height: 100vh;
}

.box {
	width: 150px;
	height: 150px;
	position: absolute;
	z-index: 0;
	left: 50%;
	top: 50%;
	transform: translate3d(-50%, -50%, 0);
	z-index: 100000000000000000000000000000000000000000;
}

.gray p {
	font-size: 1.4em;
	margin: 0;
	padding: 30px;
	line-height: 1.4em;
}

.bottom {
	width: 100%;
	text-align: center;
	padding: 150px 30px;
	font-size: 1.2em;
	box-sizing: border-box;
}




.line {
	width: 70%;
	height: 70px;
	position: relative;
	overflow: hidden;
}

.line span {
	position: absolute;
	font-size: 3rem;
	line-height: 4.2rem;
	color: #fff;
}

#ascii-sec {
	z-index: -1;
	position: fixed;
	top: 0;
	left: 0;
	outline: none;
	opacity: 0.5;
}

.skills-sec {
	width: 100%;
	height: 100vh;
}

.skills-sec .card {

	margin: 2em 15vw;
	padding: 2em;
	color: #fff;
	text-align: center;
	border-radius: 1em;
	font-family: "Pro";
}

@media screen and (max-width: 1024px) {
	.skills-sec .card {
		margin: 2em 2vw;
	}
}

.card-num {
	font-size: 1.5em;
}

.pccase {
	display: flex;
	justify-content: center;
}

.projects {
	margin: 20em 5em;
	color: #fff;
}

.projects .project {
	display: flex;
	justify-content: end;
	align-items: center;
	border-top: 1px solid #fff;
	font-family: Pro;
	transition: 0.2s all;
	text-decoration: none;
	color: #fff;
	width: 100%;
}

.projects .project:hover {
	background-color: #e7e7e7;
	color: #000;
}

.projects .project .project-no {
	font-size: 2em;
	text-align: center;
	font-weight: bold;
	margin-left: 1em;
}

.projects .project .project-content .project-subheading {
	margin-bottom: 0.2em;
}

.projects .project .project-content .project-heading {
	margin-top: 0.2em;
	text-transform: uppercase;
	font-family: HermitBold;
}

.projects .project .project-content {
	margin: 0 4em;
	width: 60%;
	text-align: left;
}

.projects .project .project-category-pane {
	display: flex;
}

.projects .project .project-category-pane .project-category {
	padding: 0.25em 0.5em;
	font-weight: bold;
	background-color: #ffffff3f;
	margin-right: 0.5em;
	border-radius: 0.25em;
}

.project-links {
	margin: 1em 0;
}

.github-btn {
	color: white;
	background-color: #000000;
	padding: 0.25em 0.5em;
	border-radius: 0.75em;
	border: 1px solid #676767;
}

.live-btn {
	color: black;
	background-color: #fff;
	padding: 0.25em 0.5em;
	border-radius: 0.75em;
	border: 1px solid #676767;
}


.github-btn img {
	width: 1em;
}

.projects .project:hover .project-img {
	transform: scale(1.05);
	overflow: hidden;
}

.projects .project:hover .project-image img {
	width: 100%;
}

.projects .project .project-img {
	margin: 1.5em 2em;
	margin-right: auto;
	height: 17.5em;
	transition: 0.2s all;
	border-radius: 0.75em;
}

@media screen and (max-width: 768px) {

	.projects .project {
		flex-direction: column;
		flex-direction: column-reverse;
		margin: 2em 0;
	}

	.projects .project .project-no {
		display: none;
	}

}


.footer {
	height: 80vh;
	width: 95%;
	margin: 2.5%;
}

.footer * {
	z-index: 20 !important;
}

.footer .work-together {
	color: transparent;
	-webkit-text-stroke-width: 3px;
	-webkit-text-stroke-color: white;
	-moz-text-stroke-width: 3px;
	-moz-text-stroke-color: white;
	font-size: 3em;
	margin-top: 20%;
	font-family: ProMono;
}

.footer-links {
	display: flex;
	justify-content: center;
}

.social-btn {
	padding: 0.1em 0.25em;
	width: fit-content;
	height: 4.2em;
	background-color: #000;
	border: 0;
	border-radius: 0.3em;
	font-size: 12px;
	margin: 0 1em;
}

.social-btn span:not(hover) {
	transition: all 1s;
}

.social-btn span {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	bottom: 0.4em;
	width: fit-content;
	height: 2.5em;
	font-family: Pro;
	background-color: #000;
	border-radius: 0.2em;
	padding: 0 0.75em;
	font-size: 1.5em;
	color: #53fe03;
	border: 0.08em solid #00FE1A;
	box-shadow: 0 0.4em 0.1em 0.019em #00FE1A;
}

.social-btn span:hover {
	transition: all 0.5s;
	transform: translate(0, 0.4em);
	box-shadow: 0 0 0 0 #00FE1A;
}

.footer-links .footer-item {
	width: 100%;
	text-align: center;
	border: 0.5px solid #00FE1A;
	padding: 1em;
	text-decoration: none;
	text-transform: uppercase;
	font-family: Pro;
	color: #fff;
	transition: 0.2s;
}

.footer-links .footer-item:nth-child(1) {
	border-left: 0;
}

.footer-links .footer-item {
	border-right: 0;
}

.footer-links .footer-item:hover {
	background-color: #00FE1A;
}

.footer .contact-btn {
	padding: 0.5em 1em;
	border: 1px solid #00FE1A;
	border-radius: 0.5em;
	transition: 0.2s ease-in-out;
	width: fit-content;
	position: relative;

}

.footer .contact-btn:hover {
	background: #00FE1A;
}

@media screen and (max-width: 1024px) {

	.footer-links {
		flex-direction: column;
		align-items: center;
	}

	.footer-links .social-btn {
		margin: 1em 0;
	}

}


.transition-comp {
	position: fixed;
	left: 100%;
	width: 100%;
	height: 100%;
	background-color: #212121;
	transition: all 1s cubic-bezier(0.77, 0, 0.175, 1);
	z-index: 999999999999999999999999;
}

.transition-comp.transition {
	left: 0;
}

@-webkit-keyframes animatedBackground {
	from {
		background-position: 0 0;
	}

	to {
		background-position: 100% 0;
	}
}

@keyframes animatedBackground {
	from {
		background-position: 0 0;
	}

	to {
		background-position: 100% 0;
	}
}